
html,
body {
    min-width: 1200px;
    position: relative;  
}
header{
    display: block;
}
.servis h1,
.company-info-text h1,
.company-info-contacts h1,
.pereforators_about h1{
    padding-top: 60px; 
    font-size: 30px;
    margin-bottom: 20px;  
    font-family: 'Cuprum';  
}
.servis h3,
.company-info-text h3,
.company-info-contacts h3,
.pereforators_about h3{
    font-size: 13px;
    font-family: 'PT Sans';
    font-weight: normal;
 } 
.text-style_1{
    font-family: 'Cuprum';
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 12px;
    text-decoration: none;
}
.text-style_2{
    font-family: 'PT Sans';
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-transform: uppercase;
 }
.text-style_3{
    font-size: 36px;
    font-family: 'Cuprum';
    font-weight: 700;
    color:#ffffff;
    text-transform: uppercase;
 }
.text-style_4{
    font-size: 18px;
    font-family: 'PT Sans';
    color:#ffffff;
 }
.catalog_pages{
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.main-header{
   margin-bottom: 60px;
   background-color: #293449;
}
.main-header-catalog{
    margin: 0;
}
.container{
    width: 940px;
    margin: 0 auto 0 auto;
    min-width: 940px;
}
.menu-head{
    height: 42px;
    display: flex;
}
.first-menu{
    background: #F1F5F7;
    height: 270px;
}
.logo-up{
    width: 220px;
    height: 41px;
    background-color: #ee3643;
    color: #ffffff;
    float: left;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cuprum';
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    text-decoration: none;
    border-bottom: 5px solid #b52933;
}
.logo-up:hover{
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}
.logo-up:active{
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}
.search{
    position: relative;
    width: auto;
    height: auto;
}
.focus{
    background-color: #fff;
    background:url(../img/icon-search_white.png) no-repeat;
}
input[type=search] {
    background-color: #293449;
    position: relative;
    width: 260px;
    height: 42px;
    padding: 8.5px 0 12px 50px;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Cuprum';
    font-weight: 700;
    border:none;   
}
input[type=search]::-webkit-input-placeholder {
  color: #ffffff; 
}
.img-search{
    position: absolute;
    top: 10px;
    left: 15px;
    width: 20px;
    height: 20px;
    background: url(../img/icon-search.png) no-repeat;
    cursor: pointer;
    z-index: 20;
}
.press-search:hover{
    background-color: #212a3a;
}
input[type=search]:focus{
    background-color: #ffffff;
    background-image: url(../img/icon-search-pink.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
}
.menu-head-all-point{
    float: right;
    display: flex;
}
.menu-head-point{
    width: 110px;
    height: auto;
    font-size: 17px;
    font-family: 'Cuprum';
    padding: 10px 0 10px 50px;
    text-decoration: none;
}
.bookmarks{
    background: url(../img/icon-bookmark.png) no-repeat;
    background-position: left;
    background-position: 28px;
}
.bookmarks:hover{
    background-color: #212a3a;
    background-image: url(../img/icon-bookmark_white.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 28px;
}
.bookmarks:active{
    background-color: #161d29;
    background-image: url(../img/.icon-bookmark-grey.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 28px;
    color: #8b8e94;
}
.basket{
    background-image: url(../img/icon-basket.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 16px;    
}
.basket:hover{
    background-color: #212a3a;
    background-image: url(../img/icon-basket_white.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 16px;
}
.basket:active{
    background-color: #161d29;
    background-image: url(../img/.icon-basket-grey.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 16px;
    color: #8b8e94;
}
.full-basket{
    background: #ee3643;
    background-image: url(../img/icon-basket.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 16px;  
}
.zakaz{
    width: 130px;
    padding: 10px 0 10px 20px;
    background-color: #63a63e;
}
.zakaz:hover{
    background-color: #5fbb2d;
}
.opis-menu{
    padding-top: 40px;
    padding-bottom: 40px;    
}
.opisanie-text{
    margin: 0 20px 0 40px;
    width: 250px;
    color: #EE4F5B;
    float: left;
    font-style: italic;
    font-size: 16px;
    line-height: 1.438;
    text-decoration: none;
}
.first-contacts{
    float: left;
    width: 260px;
}
.phone-cont{
    width: 180px;
    border: 3px solid #FFFFFF;
    padding: 8px 15px 8px 75px;
    margin: 0 0 10px 0;
    color: #e9292a;
    font-size: 21px;
    display: inline-block;
    text-decoration: none;
    background-image: url(../img/icon-phone.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    text-decoration: none;
}
.adress-cont{
    color: #32425C;
    margin: 0;
    padding-left: 10px;
    font-family: 'Cuprum';
    font-size: 14px;
    line-height: 1.125;
    text-decoration: none;
}
.user-block{
    width: 290px;
    float: right;
    font-family: 'Cuprum';
    font-size: 21px;
    font-weight: 400;
    line-height: 0.857;
    padding-left: 40px;
    height: 45px;
    display: block;
}
.login{
    margin-right: 10px;
    padding: 14px 26px 14px 48px;
    background-color: #ffffff;
    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
    text-decoration: none;
    display: inline-block;
    color: #000000;
}
.login:hover{
    color: #ee3643;
    background-image: url(../img/icon-login_blue.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
}
.login:active{
    color: #b2b2b2;
    background-image: url(../img/icon-login.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position: 15px;
}
.registration{
    padding: 14px 25px 14px 25px;
    background-color: #ffffff;
    text-decoration: none;
    display: inline-block;
    color: #000000; 
}
.registration:hover{
    color: #ee3643;
}
.registration:active{
    color: #b2b2b2;
}
.login-made{
    width: 215px;
    position: relative;
    margin-right: 10px;
    padding: 14px 26px 14px 48px;
    background-color: #ffffff;
    text-decoration: none;
    display: inline-block;
    color: #000000;
}
.login-made::before{
    content: "";
    position: absolute;
    left: 14px;
    width: 20px;
    height: 20px;
    background: url(../img/icon-user.png) no-repeat;
}
.login-made:hover::before{
    background: url(../img/icon-user_blue.png) no-repeat;
}
.login-made::after{
    content: "";
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    background: url(../img/icon-login.png) no-repeat;
}
.login-made:hover::after{
    background: url(../img/icon-login_blue.png) no-repeat;
}
.personal_area{
    font-size: 16px;
    line-height: 30px;
    padding-left: 18px;
    padding-right: 15px;
    color: #32425c;
}
.personal_area:last-child{
    padding-left: 22px;
    padding-right: 0;
}
.area{
    position: relative;
    padding-right: 5px;
}
.point{
    position: absolute;
    top: 13px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #32425c;
}
.main-navigation{
    height:60px; 
    background-color: #32425c;
    font-family: 'Cuprum';
    font-size: 17px;
    border-bottom: 5px solid #293449;
}
.main-navigation ul{
    padding: 0;
    margin:0;
}
.main-navigation li{
    display: inline-block;
    list-style-type: disc;
}
.main-navigation-item{
    height: auto;
    padding: 21px 31.76px 21px 31.76px;
}
.main-navigation-item:hover{
    background-color: #293449;
}
.features{
    font-size: 0;
    color: #fff; 
}
.features a{
    color: #fff;
}
.features-item{
    width: 260px;
    height: 83px;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 20px 20px;
    padding: 20px;
}
.features-item:first-child{
    margin-left: 0;
}
.features-img-materials{
    background-image: url(../img/materials.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 212px;
}
.features-img-instrument{
    background-image: url(../img/instrument.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 196px;
}
.features-img-texnic{
    background-image: url(../img/tecnic.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 190px;
}
.features-img-discont{
    background-image: url(../img/discont.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 195px;
}
.features-img-deliverly{
    background-image: url(../img/deliverly.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 190px;
}
.materials{
    background-color: #f6b22d;
}
.features-item .materials:hover{
    background-color: #cccccc;
}
.features-item .materials{
    width: 90px;
    height: 14px;
    padding:13px 24px 13px 24px;
    font-size: 14px;
    font-family: 'Cuprum';
    text-transform:uppercase;
    background-color: #dda028;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}
.features-item .materials:hover{
    background-color: #cccccc;
}
.features-item .materials:active{
    background-color: #b2b2b2;
}
.features-item .instruments{
    width: 83px;
    height: 14px;
    padding:13px 26px 13px 26px;
    font-size: 14px;
    font-family: 'Cuprum';
    text-transform:uppercase;
    background-color: #429dc7;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}
.features-item .instruments:hover{
    background-color: #cccccc;
}
.features-item .instruments:active{
    background-color: #b2b2b2;
}
.features-item .texnic{
    width: 75px;
    height: 14px;
    padding:13px 30px 13px 30px;
    font-size: 14px;
    font-family: 'Cuprum';
    text-transform:uppercase;
    background-color: #b76dbc;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}
.features-item .texnic:hover{
    background-color: #cccccc;
}
.features-item .texnic:active{
    background-color: #b2b2b2;
}
.features-item .disconts{
    width: 90px;
    height: 14px;
    padding:13px 23px 13px 23px;
    font-size: 14px;
    font-family: 'Cuprum';
    text-transform:uppercase;
    background-color: #77bc6d;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}
.features-item .disconts:hover{
    background-color: #cccccc;
}
.features-item .disconts:active{
    background-color: #b2b2b2;
}
.features-item .deliverly{
    width: 61px;
    height: 14px;
    padding:13px 37px 13px 37px;
    font-size: 14px;
    font-family: 'Cuprum';
    text-transform:uppercase;
    background-color: #dda028;
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
}
.features-item .deliverly:hover{
    background-color: #cccccc;
}
.features-item .deliverly:active{
    background-color: #b2b2b2;
}
.instruments{
    background-color: #4aafde;
}
.texnic{
    background-color: #cc79d1;
}
.slider{
    position: relative;
    width: 600px;
    height: 246px;
    float: left;
    margin: 0 0 20px 0;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    padding-top: 20px; 
    background-color: pink;  
}
.slider input[type=radio]{
    position: absolute;
    opacity: 0;
}
.slider-controls{
    position: absolute;
    width: 35px;
    height: 10px;
    bottom: 35px;
    left: 50%;
    z-index: 20;
}
.slider-controls label{
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    background: white;
    border: 3px solid white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
}
#btn-1:checked ~ .slider-controls label[for='btn-1'],
#btn-2:checked ~ .slider-controls label[for='btn-2']{
    background-color: #ee3643;
}
.slide{
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
}
.slide{
    display: none;
}
.slide:nth-child(1){
    display: block;
    width: 600px;
    height: 246px;
    background-image: url(../img/perfor1.png);
    background-position: 100%;
}
.slide:nth-child(2){
    width: 600px;
    height: 246px;
    background-image: url(../img/perfor2.png);
    background-position: 100%;
}
#btn-1:checked ~ .slides .slide:nth-child(1){
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2){
    display: block;
}
.button-controls-left label{
    position: absolute;
    width: 21px;
    height: 40px;
    top: 115px;
    left: 15px;
    background-image: url(../img/icon-left.png);
    z-index: 20;
    cursor: pointer;
}
.button-controls-right label{
    position: absolute;
    width: 21px;
    height: 40px;
    top: 115px;
    right: 15px;
    background-image: url(../img/icon-right.png);
    z-index: 20;
    cursor: pointer;
}
.btn--open-katalog{
    width: 195px;
    position: absolute;
    bottom:20px;
}
.discont{
    background-color: #85d179;
    float: right;
}
.deliverly{
    background-color: #f6b22d;
}
.popular{
    height: 80px;
    padding-left: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    display: block;
    background-color: #F7F3EC;
}
.popular-item{
    background-color: #f2f6f8;
    text-transform: uppercase;
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 70px;
    color: #32425c;
    margin-bottom: 20px;    
}
.btn{
    display: block;
    font-family: 'Cuprum';
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #ee3643;
    border-radius: 3px;
    padding: 10px 0;
}
.btn:hover{
    background-color: #ca2c37;
}
.btn:active{
    background-color: #ca2c37;
}
.btn--pop{
    width: 254px;
    float: right;
    margin-top: 15px;
    margin-right:  20px;
}
.catalog_offers{
    font-size: 0; 
    text-align: center;
}
.catalog_offers .offers-item:last-child{
    margin-right: 0;
}
.name-product{
    width: 220px;
    margin-right: 20px;
    font-family: 'PT Sans';
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    margin-bottom: 10px;
}
.old-price{
    font-family: 'PT Sans';
    font-size: 15px;
    color: #999999;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration:line-through;
}
.new-price{
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 15px;
    width: 65px;
    padding: 12px 40px 12px 35px;
    background-color: #ee3643;
    margin-left: 40px; 
}
.no-sale{
    margin-top: 38px;
}
.name-product:last-child{
    margin-right: 0;
}
.friends-spis{
    font-size: 0;
    line-height: 0;
    margin-bottom: 60px;
}
.friends{
    display: inline-block;
    height: 145px;
    width: 220px;
    margin: 0 20px 20px 0;
    outline: 1px solid #ccc; 
    display: inline-block;
    position: relative;
}
.friends img{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.friends:hover{
    box-shadow:0 0 25px rgba(0,0,0,0.5);
}
.friends:nth-child(4n){
    margin-right: 0;   
}
.servises{
    background-color: #f2f6f8;
}
.servis{
    position: relative;
    height: 500px;
}
.servises-toggler input[type=radio]{
    position: absolute;
    opacity: 0;
}
.servises-buttons{
    position: absolute;
    display: block;
    left: 0;
    top: 220px; 
    height: 10px;
    width: 60px;
    color: #fff;  
}
.servises-buttons::after{
    content: "";
    position: absolute;
    top: -45px;
    left: 250px;
    background-image: url(../img/shadow.png);
    width: 10px;
    height: 280px;
}
.servises-buttons label{
    display: block;
    width: 240px;
    height: 21px;
    line-height: 27px;
    background-color: #32425c;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Cuprum'; 
    padding: 18px 0 18px 20px; 
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    cursor: pointer;
}
#sbtn-1:checked ~ .servises-buttons label[for='sbtn-1'],
#sbtn-2:checked ~ .servises-buttons label[for='sbtn-2'],
#sbtn-3:checked ~ .servises-buttons label[for='sbtn-3'] {
    color: #32425c;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;   
}
.servises-text{
    position: relative;
    margin-left: 320px;
    margin-top: 72px;
    width: 620px;
    height: 285px;
    display: none;
}
.servises-text span{
    font-family: 'Cuprum';
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #32425c;
    font-size: 36px;
}
.servises-text p{
    font-size: 13px;
    font-family: 'PT Sans';
    font-weight: normal;
}
#sbtn-1:checked ~ .servises-text-block .sbtn-deliverly,
#sbtn-2:checked ~ .servises-text-block .sbtn-garanty,
#sbtn-3:checked ~ .servises-text-block .sbtn-credit {
    display: block;
}
.btn--credit{
    width: 195px;
    margin-top: 32px;
}
.sbtn-credit{
    background: url(../img/credit_pic.png) no-repeat;
    background-position: right;
}
.sbtn-deliverly{
    background: url(../img/car_deliverly.png) no-repeat;
    background-position: right;
}
.sbtn-garanty{
    background: url(../img/img_garanty.png) no-repeat;
    background-position: right;
}
.compani-lines::before{
    content: "";
    position:absolute;
    width: 25px;
    height: 2px;
    left: -35px;
    top: 10px;
    background-color: #fb565a;
}
.company-info{
    height: 430px;
    padding-top: 40px;
}
.company-info-text{
    float: left;
    display: block;
    width: 540px; 
}
.company-info-contacts{
    float: right;
    width: 300px;
}
.company-info-text h1{
    padding-top: 0; 
    margin-bottom: 30px;  
    text-transform: uppercase;
    text-decoration: none; 
}
.company-info-text h3,
.company-info-contacts h3{
    font-weight: normal;
}
.compani-lines{
    position: relative;
    margin-left:35px;
    padding-bottom: 15px;
    font-family: 'Cuprum';
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}
.company-info-text ul{
    margin-top: 25px;
    list-style-type:none; 
    padding-left: 0; 
}
.compani-lines a{
    text-decoration: none; 
    color:#000000;
}
.catalog{
    height: 1370px;
    display: block;
   padding-top: 0;
}
.not-main-page{
    margin-bottom: 0;
}
.transition{
    position: relative;
    height: 20px;
    padding:20px 0px 20px 0;
    margin-top: 7px;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
}
.transition a:first-child::before{ 
    content: "";
    position: absolute;
    left:0;
    width: 16px;
    height: 20px;
    background: url(../img/icon-home.png) no-repeat;
}
.transition a::after {
    content: "";
    position: absolute;
    margin-left: 12px;
    top: 22px;
    width: 16px;
    height: 20px;
    background: url(../img/icon-right-min.png) no-repeat;
}
.transition a:last-child::after {
  display: none;
}
.transition a{
    text-decoration: none;
    color: #000000;
    margin-left: 15px;
    margin-right: 15px;
}
.transition-name{
    background-color: #f2f6f8;
    padding: 30px 0 30px 20px;
    text-transform: uppercase;
    font-family: 'Cuprum';
    font-size: 30px;
    color: #32425c;
    margin-bottom: 20px;
}
.main-point-catalog{
    height: 1200px;
    width: 940px;
    display: block;
}
.filtr{
    float: left;
    width: 220px;
    margin-right: 20px;
    height:745px;
    text-transform: uppercase;
}
.filtr-text{
    height: 10px;
    background-color: #f7f3ec;
    margin-bottom: 20px;
    font-family: 'PT Sans';
    font-size: 13px;
    line-height: 15px;
    padding: 15px 0 15px 20px;
}
.price-text-style{
    font-family: 'PT Sans';
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
}
.range-filter{
    width: 220px;
}
.range-control{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background:#f7f3ec;
    border-radius: 5px;
    overflow: hidden;
}
.range-control .scale{
    margin-top: 39px;
    height: 2px;
    background:#d7dcde;
}
.range-control .bar{
    height: 2px;
    background:#00ca74;
    width:70%
}
.range-control .toggler{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border:8px solid white;
    background:#ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.range-control .max-toggle{
    left: 140px;
} 
.price-control input{
    width: 86px;
    height: 35px;
    padding: 8px 2px 10px 8px;
    border-radius: 5px;
    background: #f7f3ec;
    text-align: center;
}
.price-control{
    margin-bottom: 35px;
}
.line-check{
    border:none;
    width: 220px;
    height: 1px;
    background-color: #e5e5e5;
    margin-bottom: 35px;
}
.min-price,
.max-price{
    border: none; 
    font-size: 17px;
    line-height: 30px;
}
.min-price+span{
    margin-left: 10px;
}
span+.max-price{
    margin-left: 6px;
}
.price-slide{
    height: 80px;
    background-color: #f7f3ec;
    margin-top: 20px;
    margin-bottom: 10px;
}
.maikers-spis,{
    margin-top:20px;
}
.maikers-name{
    font-family: 'Cuprum';
    font-weight: 700;
    font-size: 18px;
}
.maikers ul,
.power-spis ul{
    display: block;
    list-style-type: none;
    padding-left: 35px;
    padding-top: 10px;
}
.maikers-spis li,
.power-spis li{
    padding-bottom: 18px; 
}
.makers-checkbox{
    position: relative;
    cursor: pointer;   
}
input[type="checkbox"]{
    display: none;
}
.maikers-spis input[type="checkbox"]+label::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-check-off_1.png) no-repeat;
}
.maikers-spis input[type="checkbox"]:checked+label::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-check-on_1.png) no-repeat;
}
.maikers-spis input[type="checkbox"]+label:hover::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-check-off_2.png) no-repeat;
}
.maikers-spis input[type="checkbox"]:checked+label:hover::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-check-on_2.png) no-repeat;
}
.power-spis input[type="checkbox"]+label::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-circle_1.png) no-repeat;
}
.power-spis input[type="checkbox"]+label:hover::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-circle_2.png) no-repeat;
}
.power-spis input[type="checkbox"]:checked+label::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-circle-dot_1.png) no-repeat;
}
.power-spis input[type="checkbox"]:checked+label:hover::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: -35px;
    background: url(../img/icon-circle-dot_2.png) no-repeat;
}
.btn--show{
    margin-top: 55px;
    width: 140px;
    background-color: #ffffff;
    color:#000000;
    border:1px solid #f2f2f2;
}
.catalog-image{
    float: right;
    width: 700px;
    height: 1200px;
    font-size: 0;
}
.sort{
    position: relative;
    height: 27px;
    width: auto;
    background-color: #f7f3ec;
    padding-top: 13px;
    margin-bottom: 20px;
    font-size:13px;
    line-height: 15px;
    font-family: 'PT Sans';
    text-transform: uppercase;
}
.sort-main{
    color: #000000;
    margin: 10px 135px 10px 18px;
    text-decoration: none;
}
.sort-type{
    text-decoration: none;
    margin-right: 65px;
    color: #d4d1cb;
    border-bottom: 1px dashed #ee3643;
}
.functions{
    margin: 0;
}
.sort-type:focus{
    color: #ee3643;
    border-bottom: none;
}
.sort-type:hover{
    color: #000000;
    border-bottom: 1px dashed #ee3643;
}
.sort-pic-up{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 45px;
    background: url(../img/.icon-up-dir_gray.png) no-repeat;
}
.sort-pic-down{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 3px;
    margin-left: 65px;
    background: url(../img/icon-down-dir_gray.png) no-repeat;
}
.sort-pic-down:hover{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 65px;
    background: url(../img/icon-down-dir_black.png) no-repeat;
}
.sort-pic-up:hover{
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 2px;
    margin-left: 45px;
    background: url(../img/icon-up-dir_black.png) no-repeat;  
}

.sort-pic-up-active{
    background: url(../img/icon-up-dir-pink.png) no-repeat;
}
.sort-pic-down-active{
    background: url(../img/sotr_down_pink.png) no-repeat;
}
.offers{
    width: 700px;
    margin: 20px auto;
}
.offers-item{
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.offers-item .img{
    width: 218px;
    height: 168px;
}
.offers-item .img img{
    max-width: 100%;
}    
.offers-item .flag{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index:10;
}
.offers-item .flag_new{
    background-image: url("../img/new_flag.png");
    background-repeat: no-repeat;
}
.offers .offers-item:nth-child(3n+3){
    margin-right: 0;   
}
.offers-item:hover{
    box-shadow:0 0 25px #808080;
}
.offers-item .actions{
    display: none;
}
.offers-item:hover .actions{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: #ffffff;
}
.offers-item .actions .buy,
.offers-item .actions .bookmark{
    display: block;
    width: 129px;
    margin:0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum";
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.offers-item .actions .buy{
    background-image: url("../img/icon-basket.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position: 10px;
}
.offers-item .actions .buy:hover{
    background-color: #5fbb2d;
    color: #d4edc7;
    background-image: url("../img/icon-basket_white.png");
}
.offers-item .actions .buy:active{
    background-color: #518534;
}
.offers-item .actions .bookmark{
    color: #32425c;
    background:white;
    border-bottom-color: #63a63e;
}
.offers-item .actions .bookmark:hover{
    border-color: #32425c;

}
.offers-item .actions .bookmark:active{
    border-color: #c1c6ce;
    color: #c5cad1;
}
.name-product{
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.old-price{
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #999;
    text-decoration: line-through;
}
.new-price{
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.new-price:after{
    content: "";
    position: absolute;
    top:0;
    right: -20px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}
.no-sale{
    margin-top: 45px;
}
.pages{
    display: inline-block;
    height: 38px;
    width: 700px;
}
.btn--page{
    width: 38px;
    color: black;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px; 
    float: left;
    margin-right: 20px;
}
.btn--page:focus{
    background-color: #ee3643;
    color: #ffffff;
}
.btn--page-active{
    background-color: #ee3643;
    color: #ffffff;
}
.btn--page:hover,
.btn--page-next:hover{
    background-color: #ffffff;
    border:1px solid #bdc6ca;
}
.btn--page:active,
.btn--page-next:active{
    background-color: #ffffff;
    border:1px solid #ee3643;
}
.btn--page-next{
    width: 140px;
    color: black;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px; 
    float: left;
    margin-right: 20px;
}
.text-about-offers{
    display: block;
    padding-bottom: 68px;
    background-color: #f2f6f8;  
}
.pereforators_about h1{
    text-transform: uppercase;
    margin-bottom:35px; 
}
.btn--about{
    width: 220px;
    margin-top: 5px;
}
.company-info-contacts h1{
    padding-top: 0; 
    margin-bottom: 0;  
    text-transform: uppercase;
    text-decoration: none;
}
.map{
    width: 300px;
    height: 160px;
}
.company-info-contacts h3{
    margin-bottom:30px;
}
.btn--help{
    margin-top: 20px;
}
.foot-menu{
    background-color: #32425c;
}
.up-menu-foot{
    position: relative;
    height: 75px;
    width: 940px;
}
.up-menu-foot li{
    display: inline-block;
    list-style-type: disc;
}
.medival-menu-foot li{
    display: inline-block;
    list-style-type: disc;
}
.logo-down{
    float: left;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    background: #EE3643;
    width: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 40px;
    font-size: 30px;
    font-family: 'Cuprum';
    border-bottom: 5px solid #b52933; 
}
.logo-down:hover{
    background-color: #ca2c37;
    border-bottom: 5px solid #9a212a;
}
.logo-down:active{
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}
.medival-menu-foot{
    position: relative;
    background-color: #32425c;
    height: 120px;
}
.menu-foot-spis{
    float:right;
    position: absolute;
    top: 30px; 
    right: 0;
}
.up-menu-foot-point{
    padding-right: 56px;
    font-family: 'Cuprum';
    font-size: 18px;
    
}
.up-menu-foot-point:last-child{
    padding-right: 0;
}
.up-menu-foot-point:hover{
    text-decoration: underline;
}
.medival-menu-foot-spis-item:hover{
    text-decoration: underline;
}
.up-menu-foot-point .white:active{
    color: #929caa;
}
.medival-menu-foot-spis-item .yellow:active{
    color: #998a6e;
}
.medival-menu-foot-contacts{
    position: absolute;
    float: left;
    font-family: 'Cuprum';
    font-size: 16px;
    color: white;
    margin-top: 33px;
}
.medival-menu-foot-spis{
    padding-top: 16px;
    float: right;
}
.medival-menu-foot-spis-item{
    font-family: 'Cuprum';
    font-size: 18px;
    margin-left: 58px;   
}
.down-foot{
    height: 108px;
    background-color: #293449;
    display: block;
}
.copyright-company{
    width: 230px;
    height: 32px;
    font-family: 'Cuprum';
    font-size: 16px;
    text-align: center;
    margin-right: 150px;
    float: left;
    padding: 40px 0 35px 0;
}
.social-buttons{
    float: left;
    margin-right: 118px;
    padding: 40px 0 35px 0;
}
.btn-social{
    height: 42px;
    width: 42px;
    margin-right: 5px;
    background-color: #212a3a;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    font: 0/0 a;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-social:hover{
    background-color: #ee3643;
}
.btn-social:active{
    background-color: #ee3643;
}
.btn-social-vk{
    background-image: url(../img/icon-vk.png);

}
.btn-social-fb{
    background-image: url(../img/icon-fb.png);
}
.btn-social-inst{
    background-image: url(../img/icon-inst.png);
}
.feedback{
    float: left;
    padding: 40px 0 35px 0;
    font-family: 'Cuprum';
    font-size: 16px;
    text-decoration: none;
}
.feedback .yellow:hover{
    text-decoration: underline;  
}
.worked .yellow:hover{
    text-decoration: underline;  
}
.feedback .yellow:active{
    color: #ee3643;  
}
.worked .yellow:active{
    color: #ee3643;  
}
.worked{
    float:right;
    padding: 40px 10px 35px 0;
    font-family: 'Cuprum';
    font-size: 16px;    
}
.white{
    color:#ffffff;
    text-decoration: none;
}
.yellow{
    color: #ffd180;
    text-decoration: none;
}
.modal-content-close{
    position: absolute;
    top: 0;
    right: 12px;
    top: 16px;
    width: 21px;
    height: 21px;
    font-size: 0;
    border:0;
    cursor: pointer;
    background:url(../img/cross.png) no-repeat;
}
.close-write-us{
    top: 10px;
}
.modal_write-us{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -300px;
    width: 620px;
    box-shadow: 0 30px 50px rgba(0,0,0,0.5);
    border-top: 5px solid #ee3643; 
    background-color: #ffffff;
}
.modal_write-us-show{
    display: block;
    animation: bounce 0.6s;
}
.modal_write-us-up{
    height: 280px;
    background-color: #ffffff;
}
.modal_write-us-down{
    height: 112px;
    background-color: #f1f1f1;
}
.btn--send{
    position: absolute;
    margin: 0 80px;
    bottom: 38px;
    width: 220px;
    border: none;
    cursor: pointer;
}
.btn--send-letter{
    position: absolute;
    margin: 0 80px;
    bottom: 38px;
    width: 460px;
    border: none;
    cursor: pointer;
}
.write-us_form{
    position: relative;
    padding-top: 45px;
}
.modal-content-help{
    font-family: 'Cuprum';
    font-size: 18px;
    line-height: 24px;
    color:#000000;
    text-align: top;
}
.modal-content-help:first-child{
    margin-left: 80px;
}
.modal-content-help:nth-child(2){
    margin-left: 167px;
}
.modal_write-us-up input::-webkit-input-placeholder,
.modal_write-us-up textarea::-webkit-input-placeholder{
    font-size: 13px;
    font-family: 'PT Sans';
} 
.letter{
   display: block;
   margin-top: 19px;
   margin-left: 80px;
   margin-bottom: 10px;
}
.site-user{
    margin-top: 10px;
    margin-left: 80px;
    width: 220px;
    height: 38px;
    border-radius: 3px;
    text-align: top;

    border: 3px solid #d7dcde;
}
.site-user-mail{
    margin-top: 10px;
    margin-left: 15px;
    width: 220px;
    height: 38px;
    border-radius: 3px;
    border: 3px solid #d7dcde;
}
.site-user-letter{
    margin-left: 80px;
    width: 460px;
    height: 115px;
    border-radius: 3px;
    border: 3px solid #d7dcde;
}
.modal-map{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -470px;
    margin-top: -230px;
    background-color: #ffffff;
    background-image: url(../img/bigmap.png);
    width: 940px;
    height: 440px;
}
.modal-map-show{
    display: block;
    box-shadow: 0 30px 50px rgba(0,0,0,0.5);
    animation: bounce 0.6s;
}
.modal-add-into-basket{
   position: relative;
}
.modal-add-into-basket-up{
    position: relative;
    height: 175px;
    background-color: #ffffff;
}
.modal-add-into-basket-down{
    height: 110px;
    background-color: #f1f1f1;
    position: relative;
}
.btn--send{
    position: absolute;
    bottom: 38px;
}
.btn--later{
    position: absolute;
    width: 220px;
    right: 80px;
    bottom: 38px;
    background-color: #ffffff;
    color: #000000;
}
.was-add{
    position: absolute;
    font-family: 'Cuprum';
    font-size: 30px;
    line-height: 40px;
    top: 60px;
    padding-top: 10px;
    left: 80px;
    padding-left: 80px;
}
.was-add::before{
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: url(../img/ok_pic.png) no-repeat; 
}
.modal-add{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -310px;
    margin-top: -230px;
    width: 620px;
    height: 285px;
    border-top: 7px solid #ee3643;
    box-shadow: 0 30px 50px rgba(0,0,0,0.5);
    z-index: 60;
}
.modal-add-show{
    display: block;
    animation: bounce 0.6s;
}
.modal-add .modal-content-close{
    position: absolute;
    padding: 0;
    z-index: 60;
}
.modal-error{
    animation: shake 0.5s;
}
@keyframes bounce{
    0% { transform: translateY(-200px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}
@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}
